import java.util.Scanner; //gets scanner library

public class GuessNum
{
	public static void main(String[] args)
	{
		int randomNum;
		Scanner input = new Scanner(System.in);
		System.out.print("Guess what the random number generator is generating.(between 0 and 10)");
		int userinput=input.nextInt();
		randomNum = 0 + (int)(Math.random()*10); 
		
		if (userinput==randomNum)
		{
			System.out.print("You are correct!");
			System.out.print(randomNum);
		}
		else if (userinput<randomNum)
		{
			System.out.println("You are too low!");
			System.out.print("The dice actually rolled a ");
			System.out.print(randomNum);
		}
		else if (userinput>randomNum)
		{
			System.out.println("You are too high!");
			System.out.print("The dice actually rolled a ");
			System.out.print(randomNum);
		}
	}
		
}
